*{
    margin: 0;
    padding: 0;
}
a {text-decoration: none;}
.home_page{
    display: grid;
    column-width: 48%;
	column-count: 2;
    column-gap: 4%;
}
.features{
    height: 491px;
    width: 1915px;
    border-radius: 1px;
    display: grid;
   grid-template-columns: minmax(226px,310px)
   minmax(291px,370px)
   minmax(226px,310px);
    justify-content: center;
    

}
.features01{
    margin-top: 140px;
    margin-left: auto;
display: grid;
grid-template-rows: auto;
justify-content:flex-start;
}
.title{
size: 20px;
height: 30px;
}
.text{
    size: 15px;
    line-height: 22.5px;
    width: 310px;
    height: 42px;
    margin-top: 17px;
}
.features02{
    margin-top: 100px;
    margin-left: 61px;
    display: grid;
    grid-template-rows: auto;
    justify-content:flex-start;

}
.button{margin-top: 25px;}
.features03{
margin-top: 140px;
margin-left: 59px;
display: grid;
grid-template-rows: auto;
justify-content:flex-start;
}
.services{
width: 1920px;
height: 919px;
background-color: #fafafa;

}
.service{
    display: grid;
    grid-template-columns: repeat(3,385px);
  justify-self: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
   
}
.button1{
    width: 150px;
    height: 50px;
    align-self: center;
    justify-self: center;
}
.text1{width: 310px;
height: 63px;
text-align: center;
size: 15px;
line-height: 22.5px;
margin-top: 22px;
margin-left: 30px;
}
.services01{
    margin-top: 55px;
    display: grid;
    grid-template-rows: auto;
    justify-content: center; 
    margin-left: auto;
    width: 385px;
    height: 549px;
    justify-content: center;
}
.title1{
    width: 240px;
    height: 30px;
    size: 24px;
    line-height: 28px;
     text-align: center;
     align-self: center;
     justify-self: center;
}